@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}

.header {
    display: inline-flex;
    gap: 45.25rem;
    padding: 2rem;
}

.logo {
    padding-left: 5rem;
}

.logo-img {
    width: 12rem;
    padding-left: 30px;
}

.nav-links {
    display: inline-flex;
    gap: 2.25rem;
}

.links {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 1000;
}

.head-1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-text {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    left: 38rem;
    top: -9rem;
    padding: 20px;
}

.register-btn {
    width: 10.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 1.375rem;
    background: #C271FF;
    position: relative;
    left: 25.5rem;
    top: -4rem;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.head-2 span {
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.head-2 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
}

.avatar {
    display: block;
    text-align: center;
    padding: 4rem;
}

.avatar img {
    border-radius: 50%;
}

.avatar-name {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.6875rem;
}

.avatar-p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    width: 9rem;
}


/* Quote Section */
.quote {
    background-color: #C271FF;
    width: 102%;
    height: 24.5rem;
    position: relative;
    top: 6.15rem;
    left: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-div {
    display: inline-flex;
}

.quote-div img {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin-top: 1rem;
}

.quote-text {
    width: 51rem;
    height: 9.875rem;
    flex-shrink: 0;
}

.quote-text-1 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.1rem;
}

.quote-text-2 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
}

.quote-text-3 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2.1rem;
}

/* ---------------- */


/* Videos Section */


.videos {
    background: #FFF;
    width: 102%;
    position: relative;
    top: 4.9rem;
    left: -1rem;
    margin-top: -0.41rem;
}

.videos h1 {
    color: #071629;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 2rem;
}

.videos h1 span {
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.videos-vds {
    height: 28.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 2rem;
}

.videos-cards {
    width: 15.9375rem;
    height: 21.5rem;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(7, 22, 41, 0.18);
    margin-top: -3rem;
}


.videos-cards-1 {
    background-image: url(./images/vd1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.videos-cards-2 {
    background-image: url(./images/vd2.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.videos-cards-3 {
    background-image: url(./images/vd3.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.videos-cards-4 {
    background-image: url(./images/vd4.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.play {
    width: 4rem;
    height: 4rem;
    position: relative;
    top: 2.8rem;
    left: 6rem;
    padding-bottom: 5rem;
}

.videos-cards h2 {
    color: #071629;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 1rem;
}

.videos-first-text {
    color: rgba(7, 22, 41, 0.50);
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding-left: 1rem;
}

.videos-react {
    padding-left: 1rem;
}


.videos-avatar {
    border-radius: 50%;
    align-items: center;
    position: relative;
    top: 0.6rem;
}

.videos-cards h3 {
    color: #C271FF;
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem;
    display: inline;
    padding-left: 0.6rem;
}

.videos-rating {
    margin-top: -0.3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.videos-rating-stars {
    height: 0.9375rem;
}

.videos-second-text {
    color: #C271FF;
    text-align: right;
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6875rem;
}

/* ---------------- */