@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
}

.header {
    display: inline-flex;
    gap: 45.25rem;
    padding: 2rem;
}

.logo {
    padding-left: 5rem;
}

.logo-img {
    width: 12rem;
    padding-left: 30px;
}

.nav-links {
    display: inline-flex;
    gap: 2.25rem;
}

.links {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 1000;
}

.head-1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 7.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-text {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-weight: 700;
    display: inline-flex;
    position: relative;
    left: 38rem;
    top: -9rem;
    padding: 20px;
}

.register-btn {
    width: 10.125rem;
    height: 2.75rem;
    flex-shrink: 0;
    border-radius: 1.375rem;
    background: #C271FF;
    position: relative;
    left: 25.5rem;
    top: -4rem;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.head-2 span {
    color: #C271FF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.head-2 {
    color: #FFF;
    font-family: Source Sans Pro;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    justify-content: center;
    position: relative;
    top: 1rem;
}

.avatar {
    display: block;
    text-align: center;
    padding: 4rem;
}

.avatar img {
    border-radius: 50%;
}

.avatar-name {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.6875rem;
}

.avatar-p {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    width: 9rem;
}